<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>135742924943-4j32i4b6ppp159jml7sq6dhaiv8nvm0l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.135742924943-4j32i4b6ppp159jml7sq6dhaiv8nvm0l</string>
	<key>API_KEY</key>
	<string>AIzaSyAIbLoTAFoEj8L-OhZ6AQgtoK6Man0_Ag4</string>
	<key>GCM_SENDER_ID</key>
	<string>135742924943</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nckh.alcoholManagement</string>
	<key>PROJECT_ID</key>
	<string>alcohol-management-7fe33</string>
	<key>STORAGE_BUCKET</key>
	<string>alcohol-management-7fe33.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:135742924943:ios:bf2312b1f64d1a5b</string>
	<key>DATABASE_URL</key>
	<string>https://alcohol-management-7fe33.firebaseio.com</string>
</dict>
</plist>